{# Static usage: <twig:c975LUi:Feature:Bar items="{{ [{title: '...', text: '...'}] }}" [id=""]/> #}
{# Dynamic usage (Block system): see templates/blocks/FeatureBar.html.twig #}
<section class="feature-bar"{% if id is defined and id %} id="{{ id }}"{% endif %}>
    <div class="feature-bar__grid">
        {% for item in items %}
            <div class="feature-bar__item"><b>{{ item.title }}</b>{{ item.text }}</div>
        {% endfor %}
    </div>
</section>
