{% block trix_editor_widget %}
    {{ form_widget(form, {attr: attr|merge({
        class: 'ea-text-editor-content d-none',
        'data-number-of-rows': '5',
        'data-trix-editor-config': 'null',
    })}) }}
{% endblock %}

{% block empty_collection %}
<div class="empty collection-empty"></div>
{% endblock %}
