/* ALERTS */
.alert {
    padding: 1em;
    margin: 1em auto;
    max-width: 700px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #000;
}

.alert a,
.alert a:visited {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}

.alert-success {
    background-color: var(--alert-success-background);
}

.alert-info {
    background-color: var(--alert-info-background);
}

.alert-danger {
    color: var(--alert-danger-color);
    background-color: var(--alert-danger-background);
}

.alert-warning {
    background-color: var(--alert-warning-background);
}
