/* SIZES */

.width-100,
.width-125,
.width-150,
.width-200,
.width-250,
.width-300,
.width-350,
.width-400,
.width-450,
.width-500 {
    width: 90vw;
    height: auto;
    margin: 0 auto;
}

.width-100 {
    max-width: 100px;
}

.width-125 {
    max-width: 125px;
}

.width-150 {
    max-width: 150px;
}

.width-200 {
    max-width: 200px;
}

.width-250 {
    max-width: 250px;
}

.width-300 {
    max-width: 300px;
}

.width-350 {
    max-width: 350px;
}

.width-400 {
    max-width: 400px;
}

.width-450 {
    max-width: 450px;
}

.width-500 {
    max-width: 500px;
}