{% trans_default_domain 'ui' %}
<div class="alert alert-info text text-center">
    {{ 'text.logged_in_as'|trans({'%user%': app.user.userIdentifier}, 'site') }} <a href="{{ logout_path() }}">{{ 'label.signout'|trans({}, 'site') }}</a>
</div>
