{# "padding:0" blocks the site's generic "td{padding:10px}" rule from adding unwanted height on top of "height" #}
<tr>
    <td style="height:{{ height }}px;line-height:{{ height }}px;font-size:0;padding:0;">&nbsp;</td>
</tr>
