{# "content" was already escaped/paragraph-wrapped by EmailTemplateRenderer::contentToHtml() - trusted HTML at this point, output with |raw #}
<tr>
    <td style="padding:0 24px 16px;font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:22px;color:#333333;">
        {{ content|raw }}
    </td>
</tr>
